@model List<Friend>
<div class=" = "table">
    @foreach(Friend f in @Model)
    {
        <th> <td>@f.FriendID</td>
            </th>
        <th>
            <td>@f.FName</td>
        </th>
        
    }
</div>
